#input:hover{
    border: 1px solid blue;
}

#ul li{
  background-color:rgb(140, 140, 250);;
  color: white;
  list-style: none;
  border: 1px solid rgb(140, 140, 250);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  gap: 20px;
  width: 51%;
  margin: 20px;
  margin-left: 269px;
}

.input-group{
    width: 50%;
    margin-left: 300px;
}

h1{
    display: flex;
    justify-content: center;
    color: blue;
    margin-top: 20px
}
